.dashboard {
    background-color: #14172B;
    .card {
        z-index: 10;
        background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(46, 49, 73, 0.1) 107.43%);
        box-shadow: 0 232px 100px 50px #14172b, 0 0 1px 0 rgb(255 255 255 / 74%);
        .design-overlay {
            &::before {
                z-index: 20;
                position: absolute;
                background-color: #14172B;
                content: '';
                width: 50px;
                height: 50px;
                left: -45px;
                top: 53.5px;
            }
            &::after {
                z-index: 20;
                position: absolute;
                background-color: #14172B;
                content: '';
                width: 50px;
                height: 50px;
                left: 105px;
                top: 53.5px;
            }
        }
        .information-curver {
            width: 110px;
            height: 110px;
            background-color: #14172B;
            margin-top: -55px;
            border-radius: 100px;
            border: 1px solid rgb(255 255 255 / 20%);
            border-width: 0 0 1px 0;
            position: relative;
            z-index: 10;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &::before {
                position: absolute;
                content: '';
                background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgb(28 31 52) 107.43%);
                width: 50px;
                height: 50px;
                left: -45px;
                top: 54px;
                border-radius: 0 30px 0 0;
                border-width: 1px 0 0 0;
                border-color: rgb(255 255 255 / 15%);
                z-index: 30;
            }
            &::after {
                position: absolute;
                content: '';
                background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgb(28 31 52) 107.43%);
                width: 50px;
                height: 50px;
                right: -45px;
                top: 54px;
                border-radius: 30px 0 0 0;
                border-width: 1px 0 0 0;
                border-color: rgb(255 255 255 / 15%);
                z-index: 30;
            }
            .icon-container {
                position: relative;
                border-radius: 100px;
                border: 1px solid;
                border-color: rgb(255 255 255 / 10%);
                border-width: 1px 0 0 0;
                background: linear-gradient(180deg, rgba(98, 106, 136, 0.1) 0%, rgba(234, 179, 0, 0.06) 100%), linear-gradient(180deg, rgba(236, 240, 255, 0.1) 0%, rgba(59, 63, 87, 0) 100%);
                height: 90px;
                width: 90px;
                z-index: 40;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
        }
        .price-box {
            background-color: #14172B;
            overflow: hidden;
            box-shadow: 0 1px 1px 1px #14172b, 0 0 1px 0 rgb(255 255 255 / 74%);
        }
        .popular-pair-icon {
            height: 22px;
        }
    }
}