@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

.color-light {
    color: #ECF0FF;
}

.color-indigo{
    color: #737BAE;
}

.color-indigo-dark {
    color:#5A5F7D;
}

.bg-dark-blue {
    background: #14172B;
}

.color-green {
    color: #00FFA3;
}

.color-red {
    color: #FF4D4D;
}